<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <title>Forum</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <img
          src="assets/img/perfil.jpg"
          alt=""
          class="header__img"
          id="profile-pic"
          style="display: none"
        />
        <a href="#" class="header__logo">Forum</a>
        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="#" class="nav__link nav__logo">
            <i class="bx bx-chat nav__icon"></i>
            <span class="nav__logo-name">Forum</span>
          </a>
          <div class="nav__list">
            <div class="nav__items">
              <a href="/" class="nav__link active">
                <i class="bx bx-home nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>
              {{if .Data.Session}}
              <a href="/create_post" class="nav__link">
                <i class="bx bx-edit nav__icon"></i>
                <span class="nav__name">Create Post</span>
              </a>
              <a href="#" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Profile</span>
              </a>
              <a href="logout" class="nav__link" id="logout-link">
                <i class="bx bx-log-out nav__icon"></i>
                <span class="nav__name">Log Out</span>
              </a>
              {{else}}
              <a href="/login" class="nav__link" id="logout-link">
                <i class="bx bx-log-in nav__icon"></i>
                <span class="nav__name">Sign In</span>
              </a>
              {{end}}
            </div>
          </div>
        </div>
      </nav>
    </div>
    <main>
     
      <section class="filters">
        <label for="filter-category">Choose a Category:</label>
        <select
          id="filter-category"
          class="filter-category"
          onchange="filterPostsCategory(); updateURLCategory();"
        >
          <option value="all">All Categories</option>
          <option value="sports">Sports</option>
          <option value="technology">Technology</option>
          <option value="education">Education</option>
        </select>

        <button
          class="filter-mypost"
          id="filter-mypost"
          onclick="filterByCreated(); updateURLMyPost()"
        >
          My Posts
        </button>
        <button
          class="filter-likedpost"
          id="filter-likedpost"
          onclick="filterByLiked(); updateURLLikedPost()"
        >
          Liked Posts
        </button>
      </section>

      <section class="posts" id="posts-container">
        {{range .Data.Posts}}
        <article
          class="post"
          data-category="sports"
          data-author="JohnDoe"
          data-liked="false"
        >
          <h2 class="post-title">{{.PostHeading}}</h2>
          <p class="post-description">{{.Postdescription}}</p>
          {{range .CategoryName}}
          <div class="post-category">
            <span class="category">{{.}}</span>
          </div>
          {{end}}
          <div class="post-info">
            <form method="post" action="/like">
              <input type="hidden" name="action" value="like" />
              <input type="hidden" name="post_id" value="{{.PostID}}" />
              <button type="submit" class="post-button">
                <i class="bx bx-like"></i> <span>{{.Like}}</span>
              </button>
            </form>

            <form method="post" action="/dislike">
              <input type="hidden" name="action" value="dislike" />
              <input type="hidden" name="post_id" value="{{.PostID}}" />
              <button type="submit" class="post-button">
                <i class="bx bx-dislike"></i> <span>{{.Dislike}}</span>
              </button>
            </form>

            <button
              class="post-button comment-toggle"
              onclick="toggleComments(this)"
            >
              <i class="bx bx-comment"></i> <span class="comment-count">4</span>
            </button>
            <span class="post-author">by {{.Username}}</span>
          </div>
          <!-- Comments Section -->
          <div class="post-comments" style="display: none">
            <div class="comments-list">
              <!-- Example of a comment to check the styling -->
              <div class="comment">
                <span class="comment-author">JaneDoe:</span>
                <span class="comment-text">This is an example comment.</span>
              </div>
              <div class="comment">
                <span class="comment-author">Batool45:</span>
                <span class="comment-text">TEST FRONT END</span>
              </div>
            </div>
            <form method="post" action="/add_comment">
              <input type="hidden" name="post_id" value="{{.PostID}}" />
              <textarea
                name="comment"
                placeholder="Add a comment..."
                required
              ></textarea>
              <button type="submit" class="submit-comment-button">
                Comment
              </button>
            </form>
          </div>
        </article>
        {{end}}
      </section>
    </main>

    <script src="/assets/js/main.js"></script>
    <script>
      const isLoggedIn = false; // Change this to true if user is logged in

      document.addEventListener("DOMContentLoaded", () => {
        const signInLink = document.getElementById("signin-link");
        const logoutLink = document.getElementById("logout-link");
        const profilePic = document.getElementById("profile-pic");

        if (isLoggedIn) {
          signInLink.style.display = "none";
          logoutLink.style.display = "flex";
          profilePic.style.display = "block";
        } else {
          signInLink.style.display = "flex";
          logoutLink.style.display = "none";
          profilePic.style.display = "none";
        }
      });

      // Function to handle like button click
      function likePost(button) {
        let countSpan = button.querySelector("span");
        let count = parseInt(countSpan.textContent);
        countSpan.textContent = count + 1;
        let post = button.closest(".post");
        post.setAttribute("data-liked", "true");
      }

      // Function to handle dislike button click
      function dislikePost(button) {
        let countSpan = button.querySelector("span");
        let count = parseInt(countSpan.textContent);
        countSpan.textContent = count + 1;
      }

      // Function to show comments
      function toggleComments(button) {
        let post = button.closest(".post");
        let commentsSection = post.querySelector(".post-comments");

        if (commentsSection.style.display === "none") {
          commentsSection.style.display = "block";
        } else {
          commentsSection.style.display = "none";
        }
      }



      function filterPostsCategory() {
        const category = document.getElementById("filter-category").value;
        const posts = document.querySelectorAll(".post");

        posts.forEach((post) => {
          if (
            category === "all" ||
            post.getAttribute("data-category") === category
          ) {
            post.style.display = "block";
          } else {
            post.style.display = "none";
          }
        });
      }

      function filterByCreated() {
        const mypost = document.getElementById("filter-mypost").value;
        const posts = document.querySelectorAll(".post");

        posts.forEach((post) => {
          if (mypost === "true") {
            post.style.display = "block";
          } else {
            post.style.display = "none";
          }
        });
      }

      function filterByLiked() {
        const likedpost = document.getElementById("filter-likedpost").value;
        const posts = document.querySelectorAll(".post");

        posts.forEach((post) => {
          if (likedpost === "true") {
            post.style.display = "block";
          } else {
            post.style.display = "none";
          }
        });
      }

      let filterMyPostState = false;
      let filterLikedPostState = false;

      function updateButtonState(buttonId, state) {
        const button = document.getElementById(buttonId);
        if (state) {
          button.classList.add("active");
        } else {
          button.classList.remove("active");
        }
      }

      function filterByCreated() {
        filterMyPostState = !filterMyPostState;
        updateButtonState("filter-mypost", filterMyPostState);
        // Add your logic to filter the posts based on the filterMyPostState
      }

      function filterByLiked() {
        filterLikedPostState = !filterLikedPostState;
        updateButtonState("filter-likedpost", filterLikedPostState);
        // Add your logic to filter the posts based on the filterLikedPostState
      }

      function updateURLCategory() {
        const categorySelect = document.getElementById("filter-category");
        const selectedCategory = categorySelect.value;
        window.location.href = `?filter-category=${selectedCategory}`;
      }
      function updateURLMyPost() {
        const myPost = document.getElementById("filter-mypost"); //toggle button true or false
        const selectedCategory = myPost.value;
        window.location.href = `?filter-mypost=${filterMyPostState}`;
      }
      function updateURLLikedPost() {
        const likedPost = document.getElementById("filter-likedpost"); //toggle button true or false
        const selectedCategory = likedPost.value;
        window.location.href = `?filter-likedpost=${filterLikedPostState}`;
      }

      document.addEventListener("DOMContentLoaded", () => {
  const categorySelect = document.getElementById("filter-category");
  const urlParams = new URLSearchParams(window.location.search);
  const selectedCategory = urlParams.get("filter-category");

  if (selectedCategory) {
    categorySelect.value = selectedCategory;
  }

  filterPostsCategory();
});

    </script>
  </body>
</html>
